PORT=8080
HOST=0.0.0.0
LOG_LEVEL=INFO

MCP_SERVER_URL=http://localhost/mcp
MCP_TOKEN=
MCP_TIMEOUT=600s

OPENAI_API_HOST=https://api.openai.com/v1
OPENAI_API_MODEL=gpt-4o-mini
OPENAI_API_KEY=your-openai-api-key-here
